services:
    # Hackzilla TicketEvent subscriber
    flodaq_ticket_notification.hackzilla_ticket_subscriber:
        class: Flodaq\TicketNotificationBundle\EventSubscriber\HackzillaTicketSubscriber
        arguments: ["@service_container"]
        tags:
            - { name: kernel.event_subscriber }

    # Mailers
    flodaq_ticket_notification.mailer:
        class: Flodaq\TicketNotificationBundle\Mailer\Mailer
        arguments: ["@service_container"]